*{
    margin: 0;
    padding: 0;
}
table{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    table-layout: fixed;
}
table td {
    width: 100%;
    word-break: break-all;
    }
h1{
    text-align: center;
    margin-bottom: 20px;  
    margin-top: 20px;
    }
h3 span{
    font-style: italic;
    font-weight: bold;
    font-size: large;
}
h4{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
    margin-bottom: 20px;
    margin-top: 20px;
}
p span{
    color: blue;
    font-weight: bold;
    font-size: medium ;
}
p{
    line-height: 25px;
    width: 50%;
    margin: auto;
}  
